Debug
*.tar.gz
.cproject
.project
tmp
.settings

.*.swp
*.o
*.xo
*.so
*.d
*.log

.make-*
.prerequisites
*.dSYM
Makefile.dep
.vscode/*
.idea/*
.ccls
.ccls-cache/*
compile_commands.json
*.a
gtid_test
gtid_bench
.cache/*
xredis/xredis_commands.def
.omc/
